<h2>Login</h2>

<%= form_tag '/login', method: 'post' do %>
  <%= label_tag :Name %>
  <%= text_field_tag :name %>
  <%= label_tag :Password %>
  <%= text_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>